<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Branda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Search bar to filter products -->
  <ion-searchbar [(ngModel)]="searchTerm" debounce="500" (ionInput)="filterProducts()" placeholder="Search products"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let item of menu">
        <ion-card button class="ion-no-margin ion-text-center ion-padding-vertical" [routerLink]="item.link">
          <ion-icon size="large" aria-hidden="true" [name]="item.icon"></ion-icon>
          <div class="menu-label">{{item.label}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Sorting dropdown -->
  <ion-list>
    <ion-item>
      <ion-select aria-label="Sort" interface="popover" placeholder="Sort by">
        <ion-select-option value="terpopuler">Most Popular</ion-select-option>
        <ion-select-option value="termurah">Cheapest</ion-select-option>
        <ion-select-option value="termahal">Most Expensive</ion-select-option>
        <ion-select-option value="promo">Promo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <!-- Display filtered products -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of filteredProducts">
        <ion-card button [routerLink]="['/detail-product', item.id]">
          <img alt="Product image" [src]="item.photo" />
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-card-subtitle>{{item.price}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-badge color="tertiary"> {{item.category}}</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>