<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">qna</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion *ngFor="let item of qna">
      <ion-item slot="header" color="light">
        <ion-label>{{item.question}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{item.answer}}</div>
    </ion-accordion>
    
  </ion-accordion-group>
</ion-content>
